.eventwrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.datetime {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* to align items in the center horizontally */
  gap: 20px;
}

.day {
  opacity: 0.3;
  position: absolute;
  /* prevent overlap */
  font-size: 50px;
}

.headdesc {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* to align items in the center horizontally */
}

.pricediv {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* to align items in the center horizontally */
}
