.homewrapper {
    background-image: url('/basementbg.png');
    background-size:cover;
    background-attachment: fixed;
    display:flex;
    color:white;
    flex-direction: column;
} 

h1 {
    margin:0;
}