.mid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.midtext {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.welcome {
  font-size: 110px;
  margin-bottom: 0px;
  margin-left: -40px;
}

.mid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 50px;
  padding-top: 50px;
  /* Optional: This will make the container take the full viewport height */
}

.midtext {
  text-align: center;
}
